commit.txt
.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/
makestuff/

*.makestuff
*.Rout.envir
*.Routput
*.output
.Rproj.user

commit.time

.localdir/
MC_varlvl
autorefs
cribdir
datadir
figdrop
localdir/
overleaf/

WorkingWiki-export/

auto.bib
refs.bib
%.bibmk
%.point

maketest/
%.clip.bib

%.makelog
%.deps
%.reqs
%.mk

