commit.txt
.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/
makestuff/

*.makestuff
*.Rout.envir
*.Routput
*.output

commit.time

code/DHS_convert/converted
code/DHS_convert/downloaded
code/mc_data/converted
code/mc_data/selected
data/DHS_downloads/*.sav
